<!-- PROFILE-NAV FRAGMENT START -->
<div th:fragment="menu-profile">
    <div class="profile clearfix">
        <div class="profile_pic">
            <img th:src="@{/gentelella/production/images/user.png}" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <p>Welcome, <br/>
                <span sec:authentication="name" class="text-capitalize">
                </span> as an               
                <span th:text="${#strings.replace(#authentication.getAuthorities()[0].getAuthority(), 'ROLE_', '')}"
                    class="text-lowercase">
                </span>
            </p>
        </div>
    </div>
</div>
<!-- PROFILE-NAV FRAGMENT END -->