<!-- SIDEBAR-NAV FRAGMENT START -->
<div th:fragment="sidebar-menu">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li>
                    <a th:href="@{/home}">
                        <i class="fa fa-home"></i>
                        &nbsp;Dashboard
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-calendar-days"></i>
                        &nbsp;Leave
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/leave}">Leave Form</a></li>
                        <li><a th:href="@{/leave/history}">Leave History</a></li>
                        <li><a th:href="@{/leave/approval}">Leave Approval</a></li>
                        <li><a th:href="@{/leave/balance}">Balance Status</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/leavetype}">
                        <i class="fa fa-calendar-check"></i>
                        &nbsp;Leave Type
                    </a>                    
                </li>
                <li>
                    <a>
                        <i class="fa fa-user"></i>
                        &nbsp;User Management
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/user}">View User</a></li>
                        <li><a th:href="@{/user/update}">Update User</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/department}">
                        <i class="fa fa-city"></i>
                        &nbsp;Department
                    </a>                    
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- SIDEBAR-NAV FRAGMENT END -->