<!-- SIDEBAR-NAV FRAGMENT START -->
<div th:fragment="sidebar-menu">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <ul class="nav side-menu">
                <li>
                    <a th:href="@{/home}">
                        <i class="fa fa-dashboard"></i>
                        &nbsp;Dashboard
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-calendar"></i>
                        &nbsp;Leave
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <li><a th:href="@{/leave}">Leave Form</a></li>
                        <li sec:authorize="hasAnyRole('MANAGER','EMPLOYEE')"><a th:href="@{/leave/history}">Leave History</a></li>
                        <li sec:authorize="hasRole('MANAGER')"><a th:href="@{/leave/approval}">Leave Approval</a></li>
                        <li sec:authorize="hasAnyRole('EMPLOYEE','ADMIN')"><a th:href="@{/leave/balance}">Balance Status</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/leavetype}" sec:authorize="hasRole('ADMIN')">
                        <i class="fa fa-calendar-o"></i>
                        &nbsp;Leave Type
                    </a>                    
                </li>
                <li>
                    <a th:href="@{/user}" sec:authorize="hasRole('ADMIN')">
                        <i class="fa fa-user"></i>
                        &nbsp;User Management
                    </a>
                </li>
                <li>
                    <a th:href="@{/department}" sec:authorize="hasRole('ADMIN')">
                        <i class="fa fa-university"></i>
                        &nbsp;Department
                    </a>                    
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- SIDEBAR-NAV FRAGMENT END -->