<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title>Profile | Leave Request App</title>
</head>
<body class="nav-md">
    <!-- CONTENT LAYOUT FRAGMENT START -->
    <div class="container body" layout:fragment="content">
        <div class="main_container">
            <!-- root menu -->
            <section th:include="components/common/root-menu"></section>
            <!-- /root menu -->

            <!-- top navigation -->
            <section th:include="components/common/top-nav"></section>
            <!-- /top navigation -->

            <!-- page content -->
            <section th:include="components/widgets/profile-content"></section>
            <!-- /page content -->

            <!-- footer content -->
            <section th:include="components/common/footer"></section>
            <!-- /footer content -->
        </div>
    </div>

    <div layout:fragment="script">
		<script th:src="@{/js/profile.js}"></script>
	</div>
    <!-- CONTENT LAYOUT FRAGMENT END -->
</body>
</html>