input .input-custom:valid {
  border-color: green;
}

input.form-control:valid + .valid-feedback {
  display: block;
}

/* select.form-select:valid {
  border-color: green;
}

select.form-select:valid + .valid-feedback {
  display: block;
} */

/* input.form-control:invalid {
  border-color: red;
}

input.form-control:invalid + .invalid-feedback {
  display: block;
} */

#required-star {
  color: red;
  margin-left: 5px;
}

/* Kasih efek icon haert di footer */
.footer {
  color: white;
  text-align: center;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.fa-heart {
  color: #dc2550;
  animation: heartBeat 1s infinite;
}