<!-- DASHBOARD CONTENT FRAGMENT START -->
<div th:fragment="dashboard-content">
	<div class="right_col mt-5 pt-5">
		<div class="row justify-content-center">
			<div class="top_tiles">
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
					<div class="tile-stats">
						<div class="icon"><i class="fa fa-user"></i></div>
						<div id="user-count" class="count mt-3">179</div>
						<br/>
						<h3>Users</h3>
						<p>List of all registered user</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
					<div class="tile-stats">
						<div class="icon"><i class="fa fa-spinner"></i></div>
						<div id="pending-count" class="count mt-3">179</div>
						<br/>
						<h3>Pending</h3>
						<p>List of all pending requests </p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
					<div class="tile-stats">
						<div class="icon"><i class="fa fa-check-square-o"></i></div>
						<div id="approved-count" class="count mt-3">179</div>
						<br/>
						<h3>Approved</h3>
						<p>List of all approved requests</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
					<div class="tile-stats">
						<div class="icon"><i class="fa fa-times"></i></div>
						<div id="rejected-count" class="count mt-3">179</div>
						<br/>
						<h3>Rejected</h3>
						<p>List of all rejected requests</p>
					</div>
				</div>
				<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
					<div class="tile-stats">
						<div class="icon"><i class="fa fa-university"></i></div>
						<div id="department-count" class="count mt-3">179</div>
						<br/>
						<h3>Departments</h3>
						<p>List of all registered departments</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- DASHBOARD CONTENT FRAGMENT END -->