<!-- LEAVE FORM FRAGMENT START -->
<div th:fragment="leave-content">
    <div class="right_col pt-5" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Leave/Form</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <form id="leaveform" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="apr-leave-type">Leave Type <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <select type="text" id="apr-leave-type" required="required"
                                            class="form-control col-form-label-sm">
                                            <option selected disabled value="">- Choose Leave Type -</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align">Start Date <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="date" class="date-picker form-control" id="start-date" name="startdate">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label id="end-date-label" class="col-form-label col-md-3 col-sm-3 label-align">End Date <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="date" class="date-picker form-control" id="end-date"
                                            name="enddate">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="crt-notes">Durations</label>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="text" id="duration" class="form-control" disabled>                                      
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="crt-notes">Notes</label>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="text" id="crt-notes" class="form-control py-xl-5" maxlength="200">
                                        <p id="char-count">0 / 200 characters</p>
                                    </div>
                                </div>
                                <!-- <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align">Attachment
                                    </label>
                                    <div class="input-group mb-3 col-md-6">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputAttachment">
                                            <label class="custom-file-label" for="inputAttachment">Choose file</label>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="ln_solid"></div> -->
                                <!-- <div class="item form-group"> -->
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button type="submit" class="btn btn-success" onclick="create()">Submit</button>
                                            <p id="myleavebalance" hidden style="color: red;">Your remaining leave balance has been depleted.</p>
                                    </div>
                                <!-- </div> -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- LEAVE FORM FRAGMENT END -->