<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="components/assets/plugins :: meta-login"></th:block>
    <title>Login</title>
    <th:block th:replace="components/assets/plugins :: css-login"></th:block>
</head>

<body>
    <div class="wrapper">
        <div class="logo">
            <img th:src="@{/img/response.png}" class="p-1" alt="logo">
        </div>
        <div class="text-center mt-4 name text-dark fw-bold">
            Leave Request
        </div>
        <form class="p-3 mt-3" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Username" th:field="*{username}">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password" th:field="*{password}">
            </div>
            <button type="submit" class="btn mt-3">
                <i class="fa-solid fa-right-to-bracket"></i> Login
            </button>
        </form>
        <div>
            <p class="text-center small fw-bold mt-2 pt-1 mb-0 p-1">Don't have an username? Please
                <a href="#!" class="link">
                    contact
                </a>
                an admin
            </p>
        </div>
    </div>
    <th:block th:include="components/assets/plugins :: js-login"></th:block>
</body>

</html>